* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: block;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-section,
.hero-section,
.testi-section {
  background-color: darkolivegreen;
  color: #fff;
  padding: 3vh 0;
}

.hero-section,
.testi-section {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testi-section {
  flex-direction: column;
  justify-content: center;
}

.testi-section h2 {
  margin: 3rem 0;
}

.testi-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 90vw;
}

.feature-section {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.feature-section h2 {
  margin-top: 5%;
  color: darkolivegreen;
}

.nav-container,
.hero-container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover:not(.link-logo) {
  opacity: 0.7;
  transition: all 0.5s;
}

a:visited:not(.link-logo) {
  opacity: 0.5;
}

.hero-image img {
  width: 50vw;
  border-radius: 3%;
  padding: 18px 0 18px 18px 18px;
}

.hero-text {
  max-width: 30vw;
  padding: 18px 0 18px 18px 18px;
}

.hero-text h1,
.feature-section h2 {
  font-size: 36px;
}

.hero-text p {
  font-size: 28px;
}

.feature-container {
  flex: 1;
  max-width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  border-radius: 2%;
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.card img {
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.card-content {
  flex: 1;
  padding: 12px 24px;
  text-align: center;
  color: darkolivegreen;
  overflow: auto;
}

.card-content h3 {
  padding-bottom: 12px;
  font-size: 24px;
}
